<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>DashboardPO</title>
</head>
<body>
	<h1>DashboardPO</h1>
	
	<ul>
		<% if (typeof errors != 'undefined') { %> <% errors.forEach(error => { %>
		<li><%= error.message %></li>
		<% }) %> <% } %>
	</ul>
	
	<ul>
		<% if(messages.success_msg) { %>
		<li><%= messages.success_msg %></li>
		<% } %>
	</ul>

	<ul>
		<% if (messages.error) { %>
		<li><%= messages.error %></li>
		<% } %>
	</ul>
	<a href="/users/logout">Logout</a>
	<form action="/users/dashboard" method="POST">
		<div>
			<input
				type="text"
				id="parkingName"
				name="_parkingName"
				placeholder="Parking name"
			/>
		</div>
		<div>
			<input
				type="text"
				id="parkingAddress"
				name="_parkingAddress"
				placeholder="Parking address"
			/>
		</div>
		<div>
			<input
				type="text"
				id="parkingSpaceCount"
				name="_parkingSpaceCount"
				placeholder="Spaces count"
			/>
		</div>
		<div>
			<input 
				type="submit" 
				value="Create" 
			/>
		</div>
	</form>
</body>
</html>